* {
  font-family: "Bakbak One", cursive;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: rgb(228, 222, 228);
  color: rgb(47, 161, 150);
  display: flex;

  justify-content: center;
  align-content: center;
}
.root {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 600px;
  transition: 2s;
  border-radius: 15px;
  box-shadow: 0 3px 5px #777777;
}
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.inp input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 10px;
  font-size: 16px;
  transition: 1s ease-in;
}
button {
  padding: 15px 70px;
  border-radius: 5px;
  border: none;
  background-color: rgb(57, 187, 174);
  color: white;
  letter-spacing: 0.4rem;
  transition: 1s ease-in;
  box-shadow: 0 3px 5px #777777;
}
button:hover {
  background-color: rgb(168, 246, 238);
  color: rgb(14, 136, 124);

  letter-spacing: 1rem;
}
h1 {
  letter-spacing: 0.4rem;
  color: rgb(47, 161, 150);
  letter-spacing: 0.2em;
  text-shadow: 0 3px 5px #777777;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: -0.5rem;
  }
  .inp input {
    height: 30px;
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: -0.5rem;
  }
  .inp input {
    height: 30px;
    width: 300px;
  }
}

.root:hover {
  background-color: rgba(195, 188, 195, 0.486);
}
.inp input:hover {
  width: 600px;
}
input::placeholder {
  color: rgb(47, 161, 150);
}
.csekk {
  border-radius: 50%;
}
